body{
    background-image: url("/images/siteBackgroundSmall.jpg");
    background-repeat: no-repeat;
    background-color: black;
    // background-attachment:fixed !important;

    background-position: center -70px;
    // font-family: "Lato", sans-serif !important;
    font-family: 'Merriweather', serif;
}
#followUS{
    color: white;
}
.fa{
    width: 25px;
    padding: 7.5px 22px 20px 10px;
    height: 22.5px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 2px;
    margin-bottom: 5px;
}
.fa-facebook{
    background: #3b5998;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.fa-instagram{
    background: #125688;
    color: white;
}
.fa-envelope{
    background: #8081ce;
    color: white;
}
.header-search{
    background-color: #bb0a1e;
    border-bottom: 1px solid #000;
}
#search-form{
    margin-top: 5px !important;
}
#header-search-btn{
    background-color: #000;
    color: white;
    margin-top: -7px !important;
}
.profile-labels{
    color: #bb0a1e;
}
.profile-attributes{
    margin-bottom: 0px;
}
.update-label{
    width: 150px;;
}
.form-select{
    width: 215px;
}
.height-labels{
    padding-right: 50px;
}
.form-range{
    // margin-top: -30px;
    padding-right: 55px;
    margin-bottom: 15px;
}
.btn-red{
    background-color: #bb0a1e;
    color: white;
}
nav{
    border-bottom: 2px solid #bb0a1e;
}
@media only screen and (min-width: 520px) {
    body{
      background-image: url("/images/siteBackground.jpg");
      background-position: 100px -120px;
    }
}
