body{
    font-family: 'Merriweather', serif;
}

.header{
    height: 150px;
}
.header img{
    width: 170px;
}
.wrapper {
    position: relative;
    padding-bottom: 35%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    margin-left: 20vw;
}
.profile-labels{
    color: #bb0a1e;
}
.profile-attributes{
    margin-bottom: 0px;
}
.update-label{
    width: 150px;
}
.form-select{
    width: 200px;
}
.height-labels{
    padding-right: 50px;
}
.form-range{
    // margin-top: -30px;
    width: 101px;
    padding-right: 55px;
    margin-bottom: 15px;
}
.btn-red{
    background-color: #bb0a1e;
    color: white;
}
nav{
    border-bottom: px solid #bb0a1e;
}
.alert{
    background-color: #bb0a1e;
    color: white;
}
.success{
    background-color: green;
    color: white;
}
.login-page{
    height: 60vh;
}
.register-page{
    height: 70vh;
}
@media only screen and (max-width: 900px) {
    .logo-home{
        height: 50px;
    }
    .wrapper iframe {
        width: 100%;
        height: 130%;
        margin-left: 0;
    }
}
